################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ovning2/FileContentIndex/eedaf001-1d65-4e9a-93ed-9f87a03f4928.vsidx
